# Question 1

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("2019 Winter Data Science Intern Challenge Data Set - Sheet1.csv")

In [7]:
df.head()

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56
1,2,92,925,90,1,cash,2017-03-03 17:38:52
2,3,44,861,144,1,cash,2017-03-14 4:23:56
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37
4,5,18,883,156,1,credit_card,2017-03-01 4:35:11

At a first glance, to better evalute ad understand the dataet, find the outliers to get idea about the problem in average calculation

In [18]:
outlier = df.loc[df.total_items > 10, 'total_items']
print(outlier)

15      2000
60      2000
520     2000
1104    2000
1362    2000
1436    2000
1562    2000
1602    2000
2153    2000
2297    2000
2835    2000
2969    2000
3332    2000
4056    2000
4646    2000
4868    2000
4882    2000
Name: total_items, dtype: int64

So, based on the finding given in documentation, problem is with calculation as for getting average cost, sum of items should be considered not the number of items, as total_items column depict multiple order of same item. So I would the problem lies within the calculating the mean.

In [15]:
avg = df['order_amount'].sum() / df.shape[0]
print(avg)

3145

Applying basic avarage function on column values to get the avarage cost of shoe.

In [14]:
avg = df['order_amount'].sum() / df['total_items'].sum()
print(avg)

357

So the correct avarage value is $357

# Question 2

In [20]:
# a)

# Select count(*) from orders inner join shippers on orders.ShipperID == shippers.ShipperID;

count(*)
__________

196

In [21]:
# b)

# SELECT Employees.Lastname,MAX(OrderDetails.Quantity)
# FROM Employees 
# INNER JOIN 
# (Orders INNER JOIN OrderDetails 
# ON OrderDetails.OrderID=Orders.OrderID) 
# ON Employees.EmployeeID=Orders.EmployeeID

LastName   |   MAX(OrderDetails.Quantity)
________________________________________

Fuller     |   120

In [24]:
# c)

# SELECT Products.ProductName, max(OrderDetails.Quantity)
# FROM ((Products INNER JOIN OrderDetails ON Products.ProductID = OrderDetails.ProductID)
#                 INNER JOIN Orders ON Orders.OrderID = OrderDetails.OrderID)
#                 INNER JOIN Customers ON Customers.CustomerID = Orders.CustomerID
# WHERE Customers.Country = "Germany";

ProductName        |  max(OrderDetails.Quantity)
___________________________________________

Steeleye Stout     |  	100